body{
   
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
    height:100vh;
    width:100%;
    position: relative;
    background-position:center;
}



.navBar{
    display: flex;
   padding-top:30px;
position: absolute;

}

.items{
    display:inline;
   margin-right:70px;
   margin-left: 15px;
padding-top: 20px;
    

}
.items1{
    display:inline;
    color: #29285C;
    font-size: 30px;
    margin-right: 300px;
   padding-top: 20px !important;
  

}

.trendy{
    display: flex;
    padding-top: 50px;
    margin-left: 280px;
}

.one{
    display: block;
    margin-right:20px;
    
}

.two{
    margin-left:300px;
    display: flex;
    margin-right: 30px;
   
    
}

h1{
    color: #29285C;
    font-size: 35px;
}

h2{
    color:#29285C;
    font-size: 30px;
}

 h3{
color: red;
font-size: 20px;
 }

 p{
  color:#29285C;
  font-size: small;
  
 }

 .btn{
   
     color:white;
     background-color:  #29285C;
     border-radius: 30px 30px 2px 30px !important;
     width: 90px;
     height: 40px;

 }
 .btn1{
    margin-top:20px;
     color:white;
    padding-top: 5px;
    padding-bottom: 5px;
     border-radius: 30px 30px 2px 30px !important;
     width: 120px;
     height:60px;

 }
 .circleElement{
    height:100px;
    width:100px;
   background-image: url("summer2.jpg");
   background-size: cover;
   position: absolute;
   right:35%;


 }

 .circleElement1{
    height:400px;
    width:400px;
  
    right:15%;
   background-image: url("summer1.jpg");
   background-size: cover;
 }

 .lower{
     display: flex;
     padding-top:70px;
    
     
 }

 .pic1{
    height:300px;
    width:300px;
   
   background-image: url("denim.jpg");
   background-size: cover;
   bottom: 0;
   position: absolute;
   margin-left: 280px;
   padding-top: 10px;
 }

 .pic2{
    height:300px;
    width:300px;
   
   background-image: url("heels.jpg");
   background-size: cover;
   bottom: 0;
   position: absolute;
   margin:20px;
   margin-left:580px;
   padding-top: 10px;

 }
 .line{
     background-color: red;
     width: 4px;
    opacity: 0.7;
     position: absolute;
     margin:20px;
     margin-left:950px;
     padding-top: 10px;
     bottom:5%;
   
    height: 150px !important;
    
 }

 .note1{
     color:#29285C;
     bottom:5%;
     right:30%;
  position: absolute;
   margin:20px;
   margin-left:950px;
   padding-top: 10px;
   
 }
 .p1{
    font-size: 20px;
    font-family: sans-serif;
 }
 .fa-angle-down{
 
     padding-top: 20px !important;
 }